In [2]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 45 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 54.2 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=3e8884ef71fe07010a9df77f7acdfaf051229c592faa37a180d5f95a8f90f792
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('spark').getOrCreate()

In [4]:
from pyspark.sql import Row
row = Row("James", 40)
print(row[0]+ "," + str(row[1]))

James,40

In [5]:
row = Row(name="alice", age=11)
print(row.name)

alice

In [6]:
Person = Row("name", "age", "class")
p1 = Person("12", "class", "albert")
p2 = Person("kick", "buttoski", "harris")

In [7]:
print(p1)

Row(name='12', age='class', class='albert')

In [8]:
print(p2)

Row(name='kick', age='buttoski', class='harris')

In [10]:
p1.name

'12'

In [11]:
p2.name

'kick'

In [13]:
p2.age

'buttoski'

In [14]:
p2['age']

'buttoski'

In [15]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('spark').getOrCreate()
data = [("james", "king maker", "34234", "M", 60000)]
columns  = ['first_name', 'middle_name', 'gender' , 'yeara']

In [16]:
pysparkdf = spark.createDataFrame(data=data, schema=columns)
pysparkdf.printSchema()
pysparkdf.show(truncate=False)

root
 |-- first_name: string (nullable = true)
 |-- middle_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- yeara: string (nullable = true)
 |-- _5: long (nullable = true)

+----------+-----------+------+-----+-----+
|first_name|middle_name|gender|yeara|_5   |
+----------+-----------+------+-----+-----+
|james     |           |34234 |M    |60000|
+----------+-----------+------+-----+-----+

In [17]:
data = [("james", "king maker", "34234", "M", 60000)]
columns  = ['first_name', 'middle_name', 'gender' , 'yeara']

In [18]:
pysparkdf = spark.createDataFrame(data=data, schema=columns)
pysparkdf.printSchema()

root
 |-- first_name: string (nullable = true)
 |-- middle_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- yeara: string (nullable = true)
 |-- _5: long (nullable = true)

In [19]:
pysparkdf.show(truncate=False)

+----------+-----------+------+-----+-----+
|first_name|middle_name|gender|yeara|_5   |
+----------+-----------+------+-----+-----+
|james     |king maker |34234 |M    |60000|
+----------+-----------+------+-----+-----+

In [20]:
pysparkdf = pysparkdf.toPandas()

In [21]:
pysparkdf

  first_name middle_name gender yeara     _5
0      james  king maker  34234     M  60000

In [23]:
import pyspark 
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('spark').getOrCreate()
data = [("james", "smith", "usa", "CA"),
        ("michael", "rose", "usa", "ny")]

column = ["name", "sir", "count", "cit"]

In [29]:
df = spark.createDataFrame(data=data, schema=column)

In [30]:
df.show(truncate=False)

+-------+-----+-----+---+
|name   |sir  |count|cit|
+-------+-----+-----+---+
|james  |smith|usa  |CA |
|michael|rose |usa  |ny |
+-------+-----+-----+---+

In [31]:
df.select('name', 'sir').show()

+-------+-----+
|   name|  sir|
+-------+-----+
|  james|smith|
|michael| rose|
+-------+-----+

In [33]:
df.select('count', 'cit').show()

+-----+---+
|count|cit|
+-----+---+
|  usa| CA|
|  usa| ny|
+-----+---+

In [34]:
from pyspark.sql.functions import col
df.select(col('name'), col('sir')).show()

+-------+-----+
|   name|  sir|
+-------+-----+
|  james|smith|
|michael| rose|
+-------+-----+

In [38]:
df.select(*column).show()

+-------+-----+-----+---+
|   name|  sir|count|cit|
+-------+-----+-----+---+
|  james|smith|  usa| CA|
|michael| rose|  usa| ny|
+-------+-----+-----+---+

In [41]:
df.select([col for col in df.columns]).show()

+-------+-----+-----+---+
|   name|  sir|count|cit|
+-------+-----+-----+---+
|  james|smith|  usa| CA|
|michael| rose|  usa| ny|
+-------+-----+-----+---+

In [40]:
df.select("*").show()

+-------+-----+-----+---+
|   name|  sir|count|cit|
+-------+-----+-----+---+
|  james|smith|  usa| CA|
|michael| rose|  usa| ny|
+-------+-----+-----+---+

In [42]:
df.select(df.columns[:3]).show(3)

+-------+-----+-----+
|   name|  sir|count|
+-------+-----+-----+
|  james|smith|  usa|
|michael| rose|  usa|
+-------+-----+-----+

In [43]:
from pyspark.sql import *
from pyspark.sql.fucitons import *
from pyspark.sql.types import *


def to_date_df(df, fmt, fld):
  return df.withColumn(fld, to_date(col(fld), fmt))

AttributeError: ignored

PySpark StructType & StructField classes are used to programmatically specify the schema to the DataFrame and create complex columns like nested struct, array, and map columns. StructType is a collection of StructField’s that defines column name, column data type, boolean to specify if the field can be nullable or not and metadata.

In [ ]:
my_schema = StructType([
          StructField("Id", StringType()),
          StructField("EveryDate", StringType())
                        
])

my_rows = [Row("123", "04/05/2020"), Row("124", "4/5/2020")]



new_df = to_date_df(my_df, "M/d/y", "eventdate")

In [53]:
from pyspark.sql.types import StringType, StructType, StructField, IntegerType
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.master('local[1]').appName('spark').getOrCreate()

data = [
        ('james', '', 'smith', '2312', 'm', 4000),
        ('aames', '', 'fmith', '232', 'f', 4300),
        ("Robert","","Williams","42114","M",4000),
        ("Maria","Anne","Jones","39192","F",4000),
        ("Jen","Mary","Brown","","F",-1)
        ]


schema = StructType([
                     StructField('firstname', StringType(), True),
StructField('middlename', StringType(), True),
StructField('lastname', StringType(), True),
StructField('id', StringType(), True),
StructField('gender', StringType(), True),
StructField('salary', IntegerType(), True) ])

In [54]:
df = spark.createDataFrame(data=data,schema=schema)
df.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

In [55]:
df.show(truncate=False)

+---------+----------+--------+-----+------+------+
|firstname|middlename|lastname|id   |gender|salary|
+---------+----------+--------+-----+------+------+
|james    |          |smith   |2312 |m     |4000  |
|aames    |          |fmith   |232  |f     |4300  |
|Robert   |          |Williams|42114|M     |4000  |
|Maria    |Anne      |Jones   |39192|F     |4000  |
|Jen      |Mary      |Brown   |     |F     |-1    |
+---------+----------+--------+-----+------+------+

In [58]:
structureData = [(('james', '', 'smith'), '36342', 'm', 3100),
                 (('michael', '', 'rose', ''), '4028123', 'm', 4300)]

In [59]:
structureSchema =  StructType([
        StructField('name', StructType([
             StructField('firstname', StringType(), True),
             StructField('middlename', StringType(), True),
             StructField('lastname', StringType(), True)
             ])),
         StructField('id', StringType(), True),
         StructField('gender', StringType(), True),
         StructField('salary', IntegerType(), True)
         ])

In [63]:
structureData

[(('james', '', 'smith'), '36342', 'm', 3100),
 (('michael', '', 'rose', ''), '4028123', 'm', 4300)]

In [64]:
structureSchema

StructType([StructField('name', StructType([StructField('firstname', StringType(), True), StructField('middlename', StringType(), True), StructField('lastname', StringType(), True)]), True), StructField('id', StringType(), True), StructField('gender', StringType(), True), StructField('salary', IntegerType(), True)])

In [66]:
structureData = [
    (("James","","Smith"),"36636","M",3100),
    (("Michael","Rose",""),"40288","M",4300),
    (("Robert","","Williams"),"42114","M",1400),
    (("Maria","Anne","Jones"),"39192","F",5500),
    (("Jen","Mary","Brown"),"","F",-1)
  ]
structureSchema = StructType([
        StructField('name', StructType([
             StructField('firstname', StringType(), True),
             StructField('middlename', StringType(), True),
             StructField('lastname', StringType(), True)
             ])),
         StructField('id', StringType(), True),
         StructField('gender', StringType(), True),
         StructField('salary', IntegerType(), True)
         ])

df2 = spark.createDataFrame(data=structureData,schema=structureSchema)

In [67]:
df2.printSchema()

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

In [68]:
df2.show(truncate=False)

+--------------------+-----+------+------+
|name                |id   |gender|salary|
+--------------------+-----+------+------+
|{James, , Smith}    |36636|M     |3100  |
|{Michael, Rose, }   |40288|M     |4300  |
|{Robert, , Williams}|42114|M     |1400  |
|{Maria, Anne, Jones}|39192|F     |5500  |
|{Jen, Mary, Brown}  |     |F     |-1    |
+--------------------+-----+------+------+

In [69]:
from pyspark.sql.functions import col  ,struct, when
updatedf2 = df2.withColumn('otherinfo',
            struct(col('id').alias('identifier'),
            col('gender').alisa('gender'),
            col('salary').alias('salary'),
        when(col('salary').cast(IntegerType()) < 2000, 'low').
        when(col('salary').cast(IntegerType()) < 4000, 'medium')
        .otherwise('high').alias('salary_grade'))).drop('id', 'gender', 'sallary') 


updatedf2.printSchema()

TypeError: ignored

In [ ]:
updatedf2.show(truncate=False)

In [83]:
from pyspark.sql import * 
from pyspark.sql.functions import * 
from pyspark.sql.types import *

def to_date_df(df, fmt, fld):
  return df.withColum(fld, to_date(col(fld), fmt))



new_df = to_date_df(my_df, "M/d/y", "evenetdata")
new_df.show()

AttributeError: ignored

In [74]:
my_schema = StructType([StructField('id', StringType()),
                        StructField('EventDate', StringType())
                        ])



my_rows = [Row("123", "04/05/2020"), Row("124", "4/5/2020"), Row("124", "04/5/2020")]
my_rdd = spark.sparkContext.parallelize(my_rows, 2)
my_df = spark.createDataFrame(my_rdd,  my_schema)

In [75]:
my_df

DataFrame[id: string, EventDate: string]

In [76]:
my_df.show()

+---+----------+
| id| EventDate|
+---+----------+
|123|04/05/2020|
|124|  4/5/2020|
|124| 04/5/2020|
+---+----------+

In [77]:
my_df.collect()

[Row(id='123', EventDate='04/05/2020'),
 Row(id='124', EventDate='4/5/2020'),
 Row(id='124', EventDate='04/5/2020')]

In [78]:
my_df.printSchema()

root
 |-- id: string (nullable = true)
 |-- EventDate: string (nullable = true)

In [79]:
my_df.show()

+---+----------+
| id| EventDate|
+---+----------+
|123|04/05/2020|
|124|  4/5/2020|
|124| 04/5/2020|
+---+----------+

In [85]:
my_df.show()

+---+----------+
| id| EventDate|
+---+----------+
|123|04/05/2020|
|124|  4/5/2020|
|124| 04/5/2020|
+---+----------+